body {
  background: black;
  color: white;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  text-align: center;
}

.instructions {
  margin-left: auto;
  margin-right: auto;
  background: #5a35cc;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  border-color:  white;
  max-width: 600px;
}
  .instructions p {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
    .instructions p:last-child {
      margin-bottom: 5px;
    }

.scoreBlock {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
  #wins {
    display: table-cell;
    text-align: center;
    padding: 8px;
  }
  #losses {
    display: table-cell;
    text-align: center;
    padding: 8px;
  }

.quotaBlock {
  text-align: center;
  color: red;
}

.gemsBlock {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
#ruby {
  display: table-cell;
  background: url(../pictures/empty-ruby.png) no-repeat;
  background-size: 100%;
  cursor: pointer;
  border: none;
  width: 200px;
  height: 200px;
}
  #ruby:hover {
    background: url(../pictures/mining-ruby.png) no-repeat;
    background-size: 100%;
  }
#diamond {
  display: table-cell;
  background: url(../pictures/empty-diamond.png) no-repeat;
  background-size: 100%;
  cursor: pointer;
  border: none;
  width: 200px;
  height: 200px;
}
  #diamond:hover {
    background: url(../pictures/mining-diamond.png) no-repeat;
    background-size: 100%;
  }
#topaz {
  display: table-cell;
  background: url(../pictures/empty-topaz.png) no-repeat;
  background-size: 100%;
  cursor: pointer;
  border: none;
  width: 200px;
  height: 200px;
}
  #topaz:hover {
    background: url(../pictures/mining-topaz.png) no-repeat;
    background-size: 100%;
  }
#emerald {
  display: table-cell;
  background: url(../pictures/empty-emerald.png) no-repeat;
  background-size: 100%;
  cursor: pointer;
  border: none;
  width: 200px;
  height: 200px;
}
  #emerald:hover {
    background: url(../pictures/mining-emerald.png) no-repeat;
    background-size: 100%;
  }

.valueBlock {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
  .valueTitle {
    text-align: center;
  }
  .valueAmount {
    margin-top: 3px;
    text-align: center; 
  }